# Python Lesson 1 – NumPy Exercises

In [2]:
import numpy as np

In [3]:
metdata_orig = np.loadtxt("T_Alicante_EM.csv", delimiter=",", skiprows=1)

metdata_orig

array([[1961.  ,   11.55,   11.65, ...,   17.67,   14.51,   11.49],
       [1962.  ,   10.72,   11.14, ...,   18.53,   14.15,   12.09],
       [1963.  ,   11.04,   11.98, ...,   17.79,   14.27,   11.36],
       ...,
       [2094.  ,   13.49,   14.81, ...,   21.62,   17.66,   14.98],
       [2095.  ,   13.68,   13.72, ...,   21.46,   18.16,   14.17],
       [2096.  ,   12.62,   14.38, ...,   20.58,   16.8 ,   14.22]])

In [4]:
year_data = metdata_orig[:, 0]
temp_data = metdata_orig[:, 1:]

print(year_data[:5])
print(temp_data.shape)

[1961. 1962. 1963. 1964. 1965.]
(136, 12)

## Exercise 1.1 – Monthly statistics for the year 1961

In [5]:
temp_data[0, :]

print("1961 maximum temperature:", temp_data[0, :].max())
print("1961 minimum temperature:", temp_data[0, :].min())
print(f"1961 mean temperature: {temp_data[0, :].mean():.2f}")

1961 maximum temperature: 25.1
1961 minimum temperature: 11.49
1961 mean temperature: 17.14

In [8]:
temp_data[0, :]

print('maximum monthly temperature:', np.max(temp_data[0, :]))
print('minimum monthly temperature:', np.min(temp_data[0, :]))
print(f"average monthly temperature: {np.mean(temp_data[0, :]):.2f}")

maximum monthly temperature: 25.1
minimum monthly temperature: 11.49
average monthly temperature: 17.14

## Exercise 1.2 – March statistics across all years

In [9]:
march_data = metdata_orig[:, 3]

print("March mean temperature:", march_data.mean())
print("March maximum temperature:", march_data.max())
print("March minimum temperature:", march_data.min())

March mean temperature: 14.086838235294117
March maximum temperature: 16.76
March minimum temperature: 12.42

## Exercise 1.3 – Yearly and monthly averages

In [13]:
yearly_mean = temp_data.mean(axis=1)   # shape (136,)
monthly_mean = temp_data.mean(axis=0)  # shape (12,)

print("Yearly mean shape:", yearly_mean.shape)
print("Monthly mean shape:", monthly_mean.shape)

print("\nFirst 20 yearly means:")
print(yearly_mean[:20])

months = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]
print("\nMonthly means:")
for m, val in zip(months, monthly_mean):
    print(f"{m}: {val:.2f}")

Yearly mean shape: (136,)
Monthly mean shape: (12,)

First 20 yearly means:
[17.1425     16.97       16.985      16.86083333 17.03166667 17.00666667
 17.33666667 17.63333333 16.77333333 17.17416667 16.955      17.15666667
 17.25416667 17.16666667 17.16666667 17.31666667 17.3775     17.34583333
 17.07583333 17.01583333]

Monthly means:
Jan: 11.95
Feb: 12.49
Mar: 14.09
Apr: 16.20
May: 19.10
Jun: 22.74
Jul: 25.75
Aug: 26.16
Sep: 23.80
Oct: 19.77
Nov: 15.68
Dec: 12.89

## Exercise 1.4 – Hottest and coldest month in 2000

In [14]:
months = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]

idx_2000 = np.where(year_data == 2000)[0][0]   # row index for year 2000
temps_2000 = temp_data[idx_2000, :]

imax = np.argmax(temps_2000)
imin = np.argmin(temps_2000)

print("Year:", int(year_data[idx_2000]))
print("Hottest month:", months[imax], f"({temps_2000[imax]:.2f})")
print("Coldest month:", months[imin], f"({temps_2000[imin]:.2f})")

Year: 2000
Hottest month: Jul (24.63)
Coldest month: Jan (10.92)

In [15]:
yearly_mean = temp_data.mean(axis=1)

imax_year = np.argmax(yearly_mean)
print("Hottest year overall:", int(year_data[imax_year]))
print("Average temperature:", f"{yearly_mean[imax_year]:.2f}")

Hottest year overall: 2091
Average temperature: 20.61