# Python Lesson 1 â€“ NumPy Exercises

In [1]:
import numpy as np

In [7]:
metdata_orig = np.loadtxt("T_Alicante_EM.csv", delimiter=",", skiprows=1)

metdata_orig

array([[1961.  ,   11.55,   11.65, ...,   17.67,   14.51,   11.49],
       [1962.  ,   10.72,   11.14, ...,   18.53,   14.15,   12.09],
       [1963.  ,   11.04,   11.98, ...,   17.79,   14.27,   11.36],
       ...,
       [2094.  ,   13.49,   14.81, ...,   21.62,   17.66,   14.98],
       [2095.  ,   13.68,   13.72, ...,   21.46,   18.16,   14.17],
       [2096.  ,   12.62,   14.38, ...,   20.58,   16.8 ,   14.22]])

In [10]:
print(metdata_orig[0,0])
print(metdata_orig[0, -1])
metdata_orig.shape

1961.0
11.49

(136, 13)

# Exercise 1 (Year data)

In [11]:
year_data = metdata_orig[:, 0]
year_data

array([1961., 1962., 1963., 1964., 1965., 1966., 1967., 1968., 1969.,
       1970., 1971., 1972., 1973., 1974., 1975., 1976., 1977., 1978.,
       1979., 1980., 1981., 1982., 1983., 1984., 1985., 1986., 1987.,
       1988., 1989., 1990., 1991., 1992., 1993., 1994., 1995., 1996.,
       1997., 1998., 1999., 2000., 2001., 2002., 2003., 2004., 2005.,
       2006., 2007., 2008., 2009., 2010., 2011., 2012., 2013., 2014.,
       2015., 2016., 2017., 2018., 2019., 2020., 2021., 2022., 2023.,
       2024., 2025., 2026., 2027., 2028., 2029., 2030., 2031., 2032.,
       2033., 2034., 2035., 2036., 2037., 2038., 2039., 2040., 2041.,
       2042., 2043., 2044., 2045., 2046., 2047., 2048., 2049., 2050.,
       2051., 2052., 2053., 2054., 2055., 2056., 2057., 2058., 2059.,
       2060., 2061., 2062., 2063., 2064., 2065., 2066., 2067., 2068.,
       2069., 2070., 2071., 2072., 2073., 2074., 2075., 2076., 2077.,
       2078., 2079., 2080., 2081., 2082., 2083., 2084., 2085., 2086.,
       2087., 2088., 2089., 2090., 2091., 2092., 2093., 2094., 2095.,
       2096.])

# Exercise 2 (min, max, and avg Mar temp)

In [12]:
march_data = metdata_orig[:, 3]

In [14]:
march_min = np.min(march_data)

In [15]:
march_max = np.max(march_data)

In [16]:
march_mean = np.mean(march_data)

In [17]:
print("March minimum temperature:", march_min, "\nMarch maximum temperature:", march_max, "\nMarch mean temperature:", march_mean)

March minimum temperature: 12.42
March maximum temperature: 16.76
March mean temperature: 14.086838235294117

# Exercise 3 (average monthly and annual temperatures)

In [21]:
temp_data = metdata_orig[:, 1:]

monthly_mean = temp_data.mean(axis=0)  # shape (12)
yearly_mean = temp_data.mean(axis=1)   # shape (136)

Monthly mean: [11.94933824 12.49007353 14.08683824 16.19860294 19.095      22.74375
 25.74705882 26.15955882 23.79691176 19.76845588 15.67661765 12.88889706]

In [22]:
print("Monthly mean:", monthly_mean)

Monthly mean: [11.94933824 12.49007353 14.08683824 16.19860294 19.095      22.74375
 25.74705882 26.15955882 23.79691176 19.76845588 15.67661765 12.88889706]

In [23]:
print("Yearly mean:", yearly_mean)

Yearly mean: [17.1425     16.97       16.985      16.86083333 17.03166667 17.00666667
 17.33666667 17.63333333 16.77333333 17.17416667 16.955      17.15666667
 17.25416667 17.16666667 17.16666667 17.31666667 17.3775     17.34583333
 17.07583333 17.01583333 16.85833333 17.14166667 17.23083333 16.88916667
 17.17416667 17.18583333 17.37916667 17.44583333 17.11583333 17.49083333
 17.24       17.305      17.61083333 17.5425     17.4675     17.4125
 17.615      17.40166667 17.49583333 17.435      17.67583333 17.58916667
 17.3775     17.7175     17.6625     17.59333333 17.37083333 17.56
 17.5325     17.84583333 17.61666667 17.50666667 18.03666667 17.3475
 17.695      18.38833333 17.87916667 17.61833333 18.21666667 17.51916667
 17.74083333 17.90583333 17.95083333 17.82333333 18.23916667 17.925
 18.07083333 18.32916667 18.4475     18.1875     18.12583333 17.88916667
 18.32333333 18.155      18.57083333 18.30083333 18.0125     18.45
 18.6625     18.4825     18.48416667 18.58083333 18.445      18.33
 18.68666667 18.98166667 18.38666667 18.88416667 19.06916667 19.16
 18.99083333 18.91083333 19.13       18.97       19.40833333 19.31166667
 19.03666667 19.03333333 18.99333333 19.08666667 19.24083333 19.295
 19.39666667 19.39916667 19.62       19.9        19.61916667 19.62083333
 19.5125     19.70166667 19.69416667 19.7225     19.62416667 19.375
 19.5625     19.67583333 19.8625     19.68083333 19.6475     20.22416667
 20.095      20.2475     20.01083333 20.04416667 19.82166667 19.89166667
 20.05833333 20.53083333 20.43666667 20.365      20.60666667 20.30083333
 20.16333333 20.54416667 20.285      19.965     ]

# Exercise 4 (Max and Min temp for 2000)

In [25]:
months = ["Jan","Feb","Mar","Apr","May","Jun","Jul","Aug","Sep","Oct","Nov","Dec"]

year_2000 = np.where(year_data == 2000)[0][0]   # row index for year 2000
temp_2000 = temp_data[year_2000, :]

imax = np.argmax(temp_2000)
imin = np.argmin(temp_2000)

print("Year:", int(year_data[year_2000]))
print("Hottest month:", months[imax], f"({temp_2000[imax]:.2f})")
print("Coldest month:", months[imin], f"({temp_2000[imin]:.2f})")

Year: 2000
Hottest month: Jul (24.63)
Coldest month: Jan (10.92)